<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Fin</b>Co</a>
  </div>
  <div class="register-box-body">
    <div class="login-box-body">
      <p class="text-center">Trade like the pro's with real-time, comprehensive access to the United States Stock Markets.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group has-feedback">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :first_name%>
        <%= f.text_field :first_name, class: 'form-control'%>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :last_name%>
        <%= f.text_field :last_name, class: 'form-control'%>
      </div>

      <div class="form-group has-feedback">

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!-- <input type="checkbox"> I agree to the <a href="#">terms</a> -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        </div>
        <!-- /.col -->
      </div>
    <% end %>
    </div>

    <br>
    <center>
      <p>Already Have and Account?</p>
      <%= render "devise/shared/links" %>
    </center>

  </div>
</div>
