<section class="content-header">
  <h1>Explore the Market</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <button class="btn btn-default pull-right"type="button" data-toggle="modal" data-target="#modal-search-stock-market">Find more stocks</button>
    </div>
    <div class="box-body">
      <div class="row">
        <% Stock.all.each do |stock|%>
        <%= link_to stock_path(stock: {symbol: stock.symbol}) do %>
        <div class="col-xs-12 col-md-2">
          <div class="color-palette-set">
            <div class="bg-green disabled color-palette user-stock-title"><span><%=  stock.symbol %></span></div>
            <div class="bg-green color-palette text-center"><span><%= stock.latest_price %></span></div>
            <div class="bg-green-active color-palette text-center"><span><%= link_to "#{stock.sector}", stock_path(stock: {symbol: stock.symbol}), class: 'view-stock-show' %></span></div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Stock Market Search Modal -->
<%= render '/stocks/partials/stock-search'%>
