<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Home Page
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <%= form_tag dashboard_path, :method => 'POST' do %>
        <%= text_field_tag 'id', nil, placeholder: 'Enter a company symbol', size: 50%>
        <%= submit_tag 'Lookup Symbol'%>
      <% end %>


        <%if @stock %>
        <p>Company Name: <%= @stock.company_name %></p>
        <p>Company Symbol: <%= @stock.symbol %></p>
        <p>Company Main Sector: <%= @stock.sector%></p>
        <p>Today's Open: <%= @stock.open %></p>
        <p>Today's Close: <%= @stock.close %><h6>Note- If before market close this value will be from previous day</h6></p>
        <p>Current Price: <%= @stock.latest_price %></p>
        <p>Current Price Pulled at: <%= @stock.latest_time %></p>
        <p>Daily High: <%= @stock.high %></p>
        <p>Daily Low: <%= @stock.low %></p>
        <% elsif @nothing %>
        <%= @nothing%>
        <%end %>

        <% if @error %>
          <%= @error %>
        <% end %>
    </section>
