<div class="tab-pane" id="tab_1-2">
  <center>
  <h1>Financial Overview</h1>
  </center>
  <div class="box-body">
    <div class="row text-center">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-6">
            <h5>Low: </h5>
            <h4>$<%= @stock.try(:low) %></h4>
          </div>
          <div class="col-xs-6">
            <h5>High: </h5>
            <h4>$<%= @stock.try(:high) %></h4>
          </div>
        </div>
        <div class="row">
          <br>
          <h4>Latest Volume:</h4>
          <p><%= @stock.try(:latest_volume) %> Shares</p>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <input type="text" class="knob" value="<%= @stock.try(:company_profit_margin).to_i %>" data-width="120" data-height="120" data-fgColor="#f56954">
        <div class="knob-label">Profit Margin: <%= @stock.try(:company_profit_margin) %>%</div>
      </div>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-xs-6">
        <p>Open:</p>
        <h3><%= @stock.try(:open)%></h3>
      </div>
      <div class="col-xs-6">
        <p>Close:</p>
        <h3><%= @stock.try(:close) %></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p><h3>$<%= @stock.try(:market_cap)%></h3><h6><i>Market Cap</i></h6></p>
        <p><h3><%= @stock.shares_outstanding %></h3><h6><i>Shares Outstanding</i></h6></p>
        <p><h3>$<%= @stock.revenue_per_share %></h3><h6><i>Revenue Per Share</i></h6></p>
        <p><h3>$<%= @stock.revenue_per_employee%></h3><h6><i>Revenue Per Employee</i></h6></p>
        <p><h3>$<%= @stock.company_cash %></h3><h6><i>Company Cash on Hand</i></h6></p>
        <p><h3>$<%= @stock.company_debt %></h3><h6><i>Total Company Debt</i></h6></p>
      </div>
    </div>
  </div>
</div>
