<div class="tab-pane" id="tab_1-4">
  <br>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="timeline">
        <!-- label -->
        <li class="time-label">
          <!-- <span class="bg-green"> <%#= Date.today %></span> -->
        </li>

        <!-- News Article -->
        <% @stock.news_articles.each do |article| %>
        <li>
          <i class="fa fa-newspaper-o"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"><%= article.published_at%></i></span>
            <h3 class="timeline-header"> <a href="#"><%= article.headline%></a></h3>
            <div class="timeline-body">
              <%= article.summary %>
            </div>
            <div class="timeline-footer">
              <a href="<%= article.url%>">Read Article</a>
              <p><h6><%= article.related_stocks %></h6></p>
            </div>
          </div>
        </li>
        <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
