<section class="content-header">
  <h1><%= @stock.company_name %> </h1> <small>Symbol: <%= @stock.symbol %></small>
  <ol class="breadcrumb">
    <li><%= link_to '<i class="fa fa-money"></i> Tracked Stocks /'.html_safe, user_stocks_path%></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-md-offset-1">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header">
          <div class="widget-user-username pull-right">
            <%= link_to 'Stop Tracking', user_stock_path(id: @stock.id), method: :delete, class: 'btn btn-default'  %>
          </div>
          <h3 class="widget-user-username"><%= @stock.chief_executive_officer %></h3>
          <h5 class="widget-user-desc">Current CEO</h5>
          <div class="pull-right">
            <h6><i>Sector: <%= @stock.try(:sector) %></i></h6>
          </div>
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="<%= @stock.try(:logo) %>" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @stock.try(:running_low)%> - <%= @stock.try(:running_high) %></h5>
                <span class="description-text">52 Week Range</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= @stock.try(:year_to_date_change)%></h5>
                <span class="description-text">Year To Date Change</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header"><%= @stock.try(:open) %></h5>
                <span class="description-text">Last Open</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#tab_1-1" data-toggle="tab">General information</a></li>
          <li><a href="#tab_1-2" data-toggle="tab">Financial Overview</a></li>
          <li><a href="#tab_1-3" data-toggle="tab">Latest Quarterly Report</a></li>
          <li><a href="#tab_1-4" data-toggle="tab">News</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle success" data-toggle="dropdown" href="#">
              Actions <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation"><%= link_to 'Stop Tracking', '#'  %></li>
            </ul>
          </li>
          <li class="pull-left header"><i class="fa fa-certificate"> Company Insight</i> </li>
        </ul>
        <div class="tab-content">
          <%= render '/user_stocks/partials/general-information' %>
          <%= render '/user_stocks/partials/financial-overview' %>
          <%= render '/user_stocks/partials/quarterly-report' %>
          <%= render '/user_stocks/partials/news' %>
        </div>
      </div>
    </div>
  </div>
</section>
