<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Finco</title>
    <meta name="og:title" content="FinCo">
    <meta name="og:type" content="Financial Tools">
    <meta name="og:image" content="http://res.cloudinary.com/dflr0ohqs/image/upload/v1529085365/stock.jpg">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
<!-- if user is signed in show use navigation -->
<!-- other wise use a basic body -->
<% if user_signed_in? %>
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/partials/nav'%>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </div>
  </body>
<% else %>
  <body class="hold-transition">
    <%= render 'layouts/partials/flash'%>
    <%= yield%>
  </body>
  <% end %>
</html>
